<launch>
	<!-- param -->
	<param name="use_sim_time" value="true"/>

	<!-- rosbag -->
	<node pkg="rosbag" type="play" name="player" args="--clock /home/amsl/ozaki/bagfiles/sq2/outdoor_dkan/2018-12-11-13-37-56.bag -r 1"/>
	
	<!-- rviz -->
	<node pkg="rviz" type="rviz" name="rviz" args="-d $(find attitude_estimation_walls)/rviz_config/attitude_estimation_walls.rviz"/>

	<!-- sensor -->
	<node pkg="sq_lidar" name="sq_lidar" type="sq_lidar">
		<param name="fixed_frame" value="/base_link"/>
		<remap from="~/scan" to="/sq_lidar/scan"/>
		<remap from="~/cloud" to="/cloud"/>
	</node>

	<!-- MAIN -->
	<node pkg="attitude_estimation_walls" name="sqlidar_gravity_estimation" type="sqlidar_gravity_estimation" output="screen">
		<remap from="/odom" to="/combined_odom"/>
		<param name="pubmsg_frame" type="string" value="/combined_odom"/>
		<param name="target_frame" type="string" value="/base_link"/>
		<param name="curvature_region" type="int" value="5"/>
		<param name="th_flatness" type="double" value="1.0e-3"/>
		<param name="th_assoc_squareddist" type="double" value="5.0e-1"/>
		<param name="th_assoc_crossangle_deg" type="double" value="5.0"/>
		<param name="th_angle_from_horizon_deg" type="double" value="10.0"/>
		<param name="th_clustering_angle_deg" type="double" value="10.0"/>
		<param name="min_cluster_length" type="double" value="10.0"/>
		<param name="th_anglediff_gnew_glast_deg" type="double" value="10.0"/>
	</node>
	<node pkg="attitude_estimation_walls" name="attitude_estimation_walls_ekf" type="attitude_estimation_walls_ekf" output="screen">
	</node>

	<!-- comparison -->
	<node pkg="gyrodometry" name="gyrodometry3d" type="gyrodometry3d">
		<param name="wait_inipose" type="bool" value="false"/>
	</node>

	<!-- for visualization -->
	<node pkg="msg_conversion" name="combine_rp_y_linear" type="combine_rp_y_linear">
		<remap from="/quat" to="/attitude"/>
	</node>
	<node pkg="pc_store" name="pc_store_with_odometry" type="pc_store_with_odometry">
		<remap from="/odom" to="/combined_odom"/>
		<remap from="/cloud" to="/cloud/with_flatness"/>
		<remap from="/cloud/stored" to="/cloud/with_flatness/stored"/>
		<param name="scan_limit" type="int" value="200"/>
	</node>
	<node pkg="pc_store" name="nc_store_with_odometry" type="pc_store_with_odometry">
		<remap from="/odom" to="/combined_odom"/>
		<remap from="/cloud" to="/normals"/>
		<remap from="/cloud/stored" to="/normals/stored"/>
		<!-- <param name="scan_limit" type="int" value="200"/> -->
	</node>
</launch>
