<launch>
	<!-- global rosparam -->
	<param name="use_sim_time" value="true"/>

	<!-- rosbag -->
	<!-- 1 rounds -->
	<!-- <node pkg="rosbag" type="play" name="player" args="&#45;&#45;clock /home/amsl/ozaki/bagfiles/airsim/Neighborhood/drone_1cam_lidar_noisedimu_202008271755.bag"/> -->
	<node pkg="rosbag" type="play" name="player" args="--clock /home/amsl/ozaki/bagfiles/airsim/Neighborhood/drone_1cam_lidar_noisedimu_202011221752.bag"/>
	<!-- 3 rounds -->
	<!-- <node pkg="rosbag" type="play" name="player" args="&#45;&#45;clock /home/amsl/ozaki/bagfiles/airsim/Neighborhood/drone_1cam_lidar_noisedimu_202008290246.bag"/> -->
	<!-- 5 rounds -->
	<!-- <node pkg="rosbag" type="play" name="player" args="&#45;&#45;clock /home/amsl/ozaki/bagfiles/airsim/Neighborhood/drone_1cam_lidar_noisedimu_202009011526.bag"/> -->

	<!-- rviz -->
	<node pkg="rviz" type="rviz" name="rviz" args="-d $(find attitude_estimation_walls)/rviz_config/dgsphere_airsim.rviz"/>

	<!-- NED to NEU -->
	<node pkg="msg_conversion" name="pc_ned_to_neu" type="pc_ned_to_neu">
		<remap from="/cloud" to="/airsim_node/drone/lidar/LidarCustom"/>
	</node>
	<!-- <node pkg="pc_store" name="lower_pc_hz" type="lower_pc_hz"> -->
	<!-- 	<remap from="/cloud" to="/cloud/neu"/> -->
	<!-- 	<param name="target_hz" type="double" value="20"/> -->
	<!-- </node> -->
	<node pkg="msg_conversion" type="ned_to_neu" name="ned_to_neu">
		<remap from="/odom" to="/airsim_node/drone/odom_local_ned"/>
		<!-- <remap from="/imu/data" to="/airsim_node/drone/imu/Imu"/> -->
		<remap from="/imu/data" to="/airsim_node/drone/imu/Imu/with_noise"/>
	</node>

	<!-- MAIN -->
	<node pkg="attitude_estimation_walls" name="wall_normal_estimation" type="wall_normal_estimation" output="screen">
		<remap from="/cloud" to="/cloud/neu"/>
		<!-- <remap from="/cloud" to="/cloud/lower_hz"/> -->
		<remap from="/quat" to="/ekf/quat_rpy"/>
		<param name="mode_open_viewer" type="bool" value="false"/>
		<param name="omp_num_threads" type="int" value="4"/>
		<param name="skip" type="int" value="3"/>
		<param name="search_radius_ratio" type="double" value="0.09"/>
		<param name="min_search_radius" type="double" value="0.1"/>
		<param name="th_num_neighborpoints" type="int" value="10"/>
		<param name="th_fitting_error" type="double" value="0.05"/>
	</node>
	<node pkg="attitude_estimation_walls" name="dgsphere_to_gravity" type="dgsphere_to_gravity" output="screen">
		<remap from="/cloud" to="/dgsphere/selected"/>
		<remap from="/quat" to="/ekf/quat_rpy"/>
		<param name="min_num_cluster_members" type="int" value="20"/>
		<param name="th_anglediff_gnew_glast_deg" type="double" value="20.0"/>
	</node>
	<node pkg="attitude_estimation_walls" name="ekf_gyro_dgsphere" type="ekf_gyro_dgsphere" output="screen">
		<remap from="/imu/data" to="/imu/data/neu"/>
		<param name="wait_inipose" type="bool" value="false"/>
		<param name="sigma_lidar_g" type="double" value="1.0e+1"/>
	</node>

	<!-- evaluation -->
	<include file="$(find attitude_estimation_walls)/launch/comparison_with_gt_airsim.launch"/>
</launch>
